<%= content_tag :tr, id: dom_id(item), class: item.row_style do %>
  <td class="info">
    <span class="name"><%= item.name %></span>
    <% if item.description.present? %>
      <div class="description"><%= item.description %></div>
    <% end %>
  </td>
  <td class="actions">
    <%= link_to icon('pencil'), edit_list_item_path(item.list, item) %>
    <%= link_to icon('trash'), list_item_path(item.list, item), method: :delete %>
  </td>
<% end %>